<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="POST" class="form">{%csrf_token%}
        <input type="text" class="comment-name" name="txtUserName" placeholder="User Name*" required><br>
        <input type="password" name="txtPassword" placeholder="Password" class="comment-email" placeholder="Email*" required><br>
        <input type="email" name="txtEmail" placeholder="Email"/><br>
        <input type="date" name="txtDOB" placeholder="DOB"/><br>
        <input type="submit" value="Submit"><br>
        <a href='{% url "signin" %}'>SIGNIN</a>
</body>
</html>