<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <form method='POST'>{%csrf_token%}
        <input type="text" name="txtUserName" placeholder="User Name"/><br>
        <input type="text" name="txtPassword" placeholder="Password"/><br>
        <input type="submit" name="btnSubmit" value="Submit"/><br>
        <input type="reset" name="btnReset" value="Cancel"/><br>
    </form>
</body>
</html>